Project/Praktikum11/Week 11 - Tugas.json
[{"id":"60af6fc7.8a23a","type":"tab","label":"Week 11 - Tugas","disabled":false,"info":""},{"id":"6b3d3304.bff5fc","type":"inject","z":"60af6fc7.8a23a","name":"Dingin","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"str","x":330,"y":80,"wires":[["9f372ed.b84ebd"]]},{"id":"f6aa4f5f.d9028","type":"inject","z":"60af6fc7.8a23a","name":"Normal","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"str","x":330,"y":180,"wires":[["9f372ed.b84ebd"]]},{"id":"7e62dfc8.6d77f","type":"inject","z":"60af6fc7.8a23a","name":"Panas","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"str","x":330,"y":280,"wires":[["9f372ed.b84ebd"]]},{"id":"9f372ed.b84ebd","type":"function","z":"60af6fc7.8a23a","name":"","func":"if(msg.payload >= 5 && msg.payload < 25){\n    msg.payload = \"Dingin\"\n    return msg\n}else if(msg.payload >= 25 && msg.payload < 50){\n    msg.payload = \"Normal\"\n    return msg\n}else if(msg.payload >= 50){\n    msg.payload = \"Panas\"\n    return msg\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":180,"wires":[["3a4c746d.8647cc"]]},{"id":"3a4c746d.8647cc","type":"debug","z":"60af6fc7.8a23a","name":"msg output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":180,"wires":[]}]