Project/Praktikum11/Week 11 - Pertanyaan.json
[{"id":"282aeb4f.378c84","type":"tab","label":"Week 11 - Praktikum 3","disabled":false,"info":""},{"id":"49a5d21c.0d10cc","type":"tab","label":"Week 11 - Pertanyaan","disabled":false,"info":""},{"id":"60af6fc7.8a23a","type":"tab","label":"Week 11 - Tugas","disabled":false,"info":""},{"id":"2f564d71.53d482","type":"inject","z":"282aeb4f.378c84","name":"make request","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":120,"wires":[["a76987bc.ad6988"]]},{"id":"17a5c022.9b259","type":"debug","z":"282aeb4f.378c84","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"a76987bc.ad6988","type":"http request","z":"282aeb4f.378c84","name":"movie request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":120,"wires":[["17a5c022.9b259"]]},{"id":"d5a70a0.7ca3df8","type":"inject","z":"49a5d21c.0d10cc","name":"make request","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["eab1e0ea.3a24e"]]},{"id":"92f9b4e6.060858","type":"debug","z":"49a5d21c.0d10cc","name":"msg output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"eab1e0ea.3a24e","type":"http request","z":"49a5d21c.0d10cc","name":"movie request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":80,"wires":[["76e3e20.b38682","92f9b4e6.060858"]]},{"id":"76e3e20.b38682","type":"function","z":"49a5d21c.0d10cc","name":"parsing","func":"msg.payload = msg.payload.filter(e => e.year > '2000');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["b1c01647.3059a8"]]},{"id":"b1c01647.3059a8","type":"debug","z":"49a5d21c.0d10cc","name":"msg parsing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":180,"wires":[]},{"id":"6b3d3304.bff5fc","type":"inject","z":"60af6fc7.8a23a","name":"Dingin","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"str","x":330,"y":80,"wires":[["9f372ed.b84ebd"]]},{"id":"f6aa4f5f.d9028","type":"inject","z":"60af6fc7.8a23a","name":"Normal","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"str","x":330,"y":180,"wires":[["9f372ed.b84ebd"]]},{"id":"7e62dfc8.6d77f","type":"inject","z":"60af6fc7.8a23a","name":"Panas","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"str","x":330,"y":280,"wires":[["9f372ed.b84ebd"]]},{"id":"9f372ed.b84ebd","type":"function","z":"60af6fc7.8a23a","name":"","func":"if(msg.payload >= 5 && msg.payload < 25){\n    msg.payload = \"Dingin\"\n    return msg\n}else if(msg.payload >= 25 && msg.payload < 50){\n    msg.payload = \"Normal\"\n    return msg\n}else if(msg.payload >= 50){\n    msg.payload = \"Panas\"\n    return msg\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":180,"wires":[["3a4c746d.8647cc"]]},{"id":"3a4c746d.8647cc","type":"debug","z":"60af6fc7.8a23a","name":"msg output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":180,"wires":[]}]