Project/Praktikum11/Week 11 - Praktikum 3.json
[{"id":"282aeb4f.378c84","type":"tab","label":"Week 11 - Praktikum 3","disabled":false,"info":""},{"id":"2f564d71.53d482","type":"inject","z":"282aeb4f.378c84","name":"make request","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":120,"wires":[["a76987bc.ad6988"]]},{"id":"17a5c022.9b259","type":"debug","z":"282aeb4f.378c84","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"a76987bc.ad6988","type":"http request","z":"282aeb4f.378c84","name":"movie request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":120,"wires":[["17a5c022.9b259"]]}]